.container{
  overflow: hidden;

  .headerStep{
    max-width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto 50px auto;
  
    .headerStep__number{
      min-width: 25px;
      min-height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #7c7c7c;
      border-radius: 50%;
      padding: 5px;

      p{
        color: #fff;
        font-size: 20px;
        line-height: 1;
      }

      svg{
        display: none;
      }
      
      &.headerStep__number--active{
        background-color: #5CB655;
      }
      
      &.headerStep__number--finished{
        background-color: #5CB655;
        p{
          display: none;
        }

        svg{
          display: block;
          fill: #fff;
        }
      }
    }
  
    hr{
      width: 100%;
      height: 2px;
      border: 0;
      background-color: #7c7c7c;
    }
  }

  .stepFormDivs{
    display: flex;
    transition: transform .3s;

    .stepFormDivs__div{
      min-width: 100%;
      box-sizing: border-box;
      margin-right: 50px;

      &:last-child{
        margin-right: 0;
      }
    }
  }
}