.container{
  .boxInfo{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;

    &:last-child{
      margin-bottom: 0;
    }

    h3{
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
}